*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
}

html{
   font-size: 62.5%;
}

#body {
   background: black;
   color: #222;
   cursor: auto;
   margin: 0;
   padding: 0;
   position: relative;
   width: 100%;
}

.header-container{
   margin: auto;
   color: #f50056;
   font-family: 'Roboto Condensed', sans-serif;
   width: 100%;
   background-color: black;
   
}   

.header-container h1 {
   width: 40%;
   font-family: inherit;
   font-style: italic;
   font-size: 3.5rem;
   
}


.nav-item a {
   width: 30%;
   font-size: 2.5rem;
   text-decoration: none;
   color: #f50056;
}

.nav-item a:hover {
   cursor: pointer;
   color: #008CBA;
   transition-delay: 0.1s;

}


.img-logo{
   width: 8rem;
   cursor: pointer;
   animation: bounce 1s linear;

}

.img-logo:hover{
   animation: bounce 1s linear;
}

@keyframes bounce{
   20%,50%,80%,to{
      transform: translateY(0);
   }
   40%{
      transform: translateY(-30px);
   }
   70%{
      transform: translateY(-15px);
   }
   90%{
      transform: translateY(-4px);
   }
}

#main-index {
   height: 80rem;
   width: 100%;
   position: relative;
   background-image: url(../img/background-gif.gif);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-content: space-around;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 50px 50px 0px;

}
 
.slogan h2{
   padding: 10rem 10rem;
   font-size: 3rem;
   font-style: italic;
   color: white;
   display: flex;
   order: 2;
}

.big-logo {
   padding-left: 5rem;
   padding-top: 9rem;
   width: 70rem;
   height: 70rem;

}

table, th, td {
   border: 2px solid #008CBA;
   font-family: 'Roboto Condensed', sans-serif;
   color: white;
   font-size: 1.5rem;
}

#main-sections {
   height: 100%;
   width: 100%;
   background-color: black;
   font-family: 'Roboto Condensed', sans-serif;
   color: white;
   font-size: 1.5rem;
   padding: 20px 20px 0px;
}

#main-sections h2 {
   color: #f50056;
   text-align:center
}

#main-sections a {
   color: #008CBA;
   line-height: inherit;
   text-decoration: none;
}

.trailers {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 0.5fr;


}

.photo-media {
   object-fit: cover;
   gap: 20px;
   display: flex;
   flex-wrap: wrap;

}

.photo {
   width: 100%;
   object-fit: cover;
}

.row-footer {
   font-family: 'Roboto Condensed', sans-serif;
   color: white;
   font-size: 1.5rem;
   background-color: black;
   display: flex;
   justify-content: center;
   grid-column: 1 / 2;
   grid-row: 3 / 4;
}

.row-footer a {
   color: #008CBA;
   line-height: inherit;
   text-decoration: none;
}


@media screen and (max-width: 768px) {
   #body {
      display: flex;
      flex-wrap: wrap;
   }
   
}





 


